/*
 * 2022 © MaoHuPi
 * classUniformEditor/style/main.css
 */

* {
    outline: none;
    color: #fff;
    scrollbar-color: #4c4c4c transparent;
    scrollbar-width: thin;
    font-family: unset;
    user-select: none;
}
*::-webkit-scrollbar {
    width: 0.5vw;
    height: 0.5vw;
    background-color: #0000;
}
*::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    background-color: #4c4c4c;
}

html, body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: white;
}
input, button {
    margin: 0px;
    padding: 0px;
    border-style: solid;
    border-width: 0.1vw;
    border-color: black;
    border-radius: 0.5vw;
    color: #fff;
    font-size: 2vw;
    background-color: #ffffff33;
    box-sizing: border-box;
    transition: 0.5s;
}
:where(input, button):hover:not([disabled]) {
    background-color: #ffffff88;
}

.mask {
    --mask: url('../image/clothes_mask.png');
    mask-image: var(--mask);
    mask-size: 100%;
    mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-image: var(--mask);
    -webkit-mask-size: 100%;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
}
.backgroundCenter {
    --background: url('../image/clothes_mask.png');
    background-image: var(--background);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
}
.center {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.camera {
    --width: 40vw;
    --height: 40vw;
    --perspective: 40vw;
    width: var(--width);
    height: var(--height);
    perspective-origin: center;
    perspective: var(--perspective);
}
.space {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform-origin: center center center;
}

#frame {
    --gap: 0.5vw;
    --childNum: 3;
    --contentTotleHeight: calc((100vw - var(--gap) * (var(--childNum) - 1)));
    display: grid;
    gap: var(--gap);
    grid-template-columns: calc(var(--contentTotleHeight) * 0.5) calc(var(--contentTotleHeight) * 0.45) calc(var(--contentTotleHeight) * 0.05);
    grid-template-rows: 100vh;
    background-color: black;
}
#frame > * {
    background-color: rgb(25, 25, 25);
}

.logo {
    padding: 0px;
    background-image: url('../image/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

#threeDViewer {
    overflow: hidden;
}
#threeDViewer .camera {
    --width: 40vw;
    --height: 40vw;
    --perspective: 40vw;
}
#threeDViewerRotate {
    --rotateX: 0deg;
    --rotateY: 0deg;
    --size: 1;
    transform: rotateX(var(--rotateX)) rotateY(var(--rotateY)) scale(var(--size));
}
#threeDViewer .clothes {
    --mask: url('../image/clothes_model_mask.png');
    width: 40vw;
    height: 40vw;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: center center center;
}
#threeDViewer .clothes * {
    position: absolute;
}
#threeDViewer .space :where(.main, [class*="main-"], .line) {
    width: 40vw;
    height: 40vw;
    position: absolute;
    top: 0px;
    left: 0px;
}
#threeDViewer .space .main {
    --color: white;
    background-color: var(--color);
    transform: translateZ(0px);
}
#threeDViewer .space .main-front {
    transform: translateZ(1px);
}
#threeDViewer .space .main-back {
    transform: translateZ(-1px) rotateY(180deg);
}
#threeDViewer .space .main-front .line {
    --background: url('../image/clothes_model_front.png');
}
#threeDViewer .space .main-back .line {
    --background: url('../image/clothes_model_back.png');
}
#threeDViewer .space :where(.main-front .front, .main-back .back) {
    width: 22.2vw;
    height: 30.6vw;
    top: 5vw;
    left: 9vw;
}
#threeDViewer .space :where(.main-front .right, .main-back .left) {
    width: 8vw;
    height: 8vw;
    top: 3vw;
    left: 0.5vw;
    transform: rotateZ(78deg);
}
#threeDViewer .space :where(.main-front .left, .main-back .right) {
    width: 8vw;
    height: 8vw;
    top: 3vw;
    right: 0.5vw;
    transform: rotateZ(-78deg);
}
#threeDViewer .space :where(.main-front, .main-back) :where(.front, .back, .right, .left):hover {
    background-color: #7e7e7e88;
}
#controlButton {
    margin: 0px;
    padding: 1vw;
    position: absolute;
    top: 0px;
    left: 0px;
    gap: 1vw;
    z-index: 9;
}
#controlButton > button {
    width: 3vw;
    height: 3vw;
}
#viewerInfo {
    margin: 0px;
    padding: 0.5vw;
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: #fff;
    background-color: #0008;
    border-radius: 0px 0.5vw 0px 0px;
    z-index: 10;
}

#themeBar {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3vw;
    margin: 0px;
    padding: 3vw;
    overflow-x: hidden;
    overflow-y: scroll;
}
#themeBar .item {
    align-items: center;
    padding: 0px 0px 1vw 0px;
    border-radius: 0.5vw;
    transition: 0.5s;
}
#themeBar .item:hover {
    background: linear-gradient(to bottom right, #ffffff88 0%, #00000088 90%);
    box-shadow: 0px 0px 0px 0.2vw white;
}
#themeBar .clothes {
    --mask: url('../image/clothes_mask.png');
    --color: white;
    width: 10vw;
    height: 10vw;
    background-color: var(--color);
    /* box-shadow: 0px 0px 2vw 0px #000000 inset; */
}
#themeBar .description {
    color: white;
    font-size: 1.5vw;
}

#colorBar {
    gap: 1vw;
    margin: 0px;
    padding: 0.5vw;
}
#colorBar input {
    padding: 0.1vw;
    width: 100%;
    height: 2vw;
}

#container-mask {
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    background-color: #00000088;
    transition: 0.5s;
    opacity: 0;
    pointer-events: none;
}
#container-mask * {
    color: black;
}
#container-mask:where([open=""], [open="true"]) {
    opacity: 1;
    pointer-events: auto;
}
#alert-box {
    margin: 0px;
    padding: 2vw;
    min-width: 20%;
    /* height: 80%; */
    background-color: #ffffff;
    border-radius: 2vw;
    box-shadow: 
        0px 0px 1vw 0px black, 
        1vw 1vw 0.5vw 0px #aaaaaa88, 
        -1vw -1vw 0.5vw 0px #eeeeee88
    ;
}
#alert-buttons {
    height: 3vw;
    position: relative;
    bottom: 0px;
    right: 0px;
}
.alert-button {
    padding: 0.5vw 1vw;
    /* margin-left: 2vw; */
    position: absolute;
    font-size: 1.5vw;
    border-style: solid;
    border-width: 0.15vw;
    border-radius: 1vw;
    grid-row-start: 1;
    grid-row-end: 2;
}
.progressBar {
    --progress: 5%;
    --progressString: "5%";
    margin-bottom: 2vw;
    /* height: 2vw; */
    width: 100%;
    background: 
        linear-gradient(to right, transparent calc(var(--progress) - 10%), white var(--progress)), 
        repeating-linear-gradient(45deg, #b4b4b4 0%, #b4b4b4 5%, #eeeeee 5%, #eeeeee 10%);
    ;
    /* background-color: white; */
    border-style: solid;
    border-width: 0.15vw;
    border-radius: 100vw;
    font-size: 1.5vw;
}
.progressBar::after {
    margin-left: 1vw;
    content: var(--progressString);
    width: 100%;
    color: black;
    font-size: 1.5vw;
    text-align: center;
}
#alert-content {
    margin-bottom: 2vw;
    font-size: 1.5vw;
}
#alert-leftButton{
    left: 0px;
}
#alert-rightButton{
    right: 0px;
}