* {
    scrollbar-width: thin;
}
*:not(input) {
    user-select: none;
}
*::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    margin: 1px;
}
*::-webkit-scrollbar {
    height: 0.53vw;
    padding: 1vw;
}
html, body {
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
}
#container-out {
    --line_1_2: 65;
    --line_12_3: 65;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: calc(var(--line_12_3) * 1%) 0.5vw;
    grid-template-rows: calc(var(--line_1_2) * 1%) 0.5vw;
    overflow: hidden;
}
#container-in-1 {
    grid-area: 1/1/2/2;
    position: relative;
    overflow: hidden;
}
#container-in-2 {
    grid-area: 3/1/4/2;
    position: relative;
    overflow: hidden;
}
#container-in-3 {
    grid-area: 1/3/4/4;
    padding: 1vw;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-auto-rows: 5vh;
    overflow-x: hidden;
    overflow-y: auto;
}
#container-in-3 * {
    margin: auto;
    width: 100%;
    font-size: 3vh;
}
#container-in-3 label{
    text-align: center;
}
#container-in-3 input{
    text-align: left;
}
#container-in-3 button{
    text-align: center;
}
#container-line-1_2 {
    grid-area: 2/1/3/2;
    cursor: ns-resize;
    user-select: none;
}
#container-line-12_3 {
    grid-area: 1/2/4/3;
    cursor: ew-resize;
    user-select: none;
}
#imageCanvas {
    --pixelPercentageWidth: 1;
    --pixelPercentageHeight: 1;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    --backgroundColorA: #ffffff;
    --backgroundColorB: #909090;
    background: repeating-conic-gradient(var(--backgroundColorA) 0, var(--backgroundColorA) 90deg,var(--backgroundColorB) 90deg,var(--backgroundColorB) 180deg);
    background-position: center center;
    /* background-size: calc(1% * var(--pixelPercentageWidth)) calc(1% * var(--pixelPercentageHeight)); */
    background-size: 50px 50px;
}
#image-view-file-bar {
    display: flex;
    gap: 1vw;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    top: 1vw;
    left: 1vw;
    z-index: 999;
}
.image-view-button {
    margin-right: 2vw;
    width: 4vw;
    height: 4vw;
    font-size: 3vw;
    border-style: solid;
    border-width: 0.15vw;
    border-radius: 50%;
    grid-row-start: 1;
    grid-row-end: 2;
}
#effect-category {
    padding: 1vw;
    width: 100%;
    /* position: absolute; */
    bottom: 0px;
    overflow-x: auto;
    display: grid;
    grid-auto-columns: calc((100 - var(--line_1_2)) * 1vh * 0.4);
}
#container-in-2 {
    display: grid;
    grid-template-rows: 70% 30%;
}
.effect-category-button {
    margin-right: 2vw;
    font-size: calc((100 - var(--line_1_2)) * 1vh * 0.1);
    border-style: solid;
    border-width: 0.15vw;
    border-radius: calc((100 - var(--line_1_2)) * 1vh * 0.05);
    grid-row-start: 1;
    grid-row-end: 2;
}
#effect-type {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: hidden;
}
#effect-type, #effect-type > div {
    height: 100%;
}
#effect-type > div {
    display: none;
    padding: 1vw;
}
#effect-type > div[select] {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
}
.effect-type-box {
    margin: 1vw;
    width: calc((100 - var(--line_1_2)) * 1vh * 0.6);
    height: calc((100 - var(--line_1_2)) * 1vh * 0.5);
    border-radius: 2vw;
    box-sizing: border-box;
    overflow: hidden;
    border-style: solid;
    border-width: 0.15vw;
    text-align: center;
    /*  */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc((100 - var(--line_1_2)) * 1vh * 0.1);
    /*  */
}